/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Electrolize&display=swap');

/* general rules */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    font-family: Electrolize, sans-serif;
}

/* index.html */
body {
    font-family: "Chewy", sans-serif;
}

.background-info {
    background: url('../images/bg-main.jpg') no-repeat center;
    background-color: darkslategray;
    background-blend-mode: luminosity;
}

.background-animals {
    background: url('../images/bg-animals.jpg') no-repeat center;
}

.background-movies {
    background: url('../images/bg-movies.jpg') no-repeat center;
    background-color: darkslategray;
    background-blend-mode: exclusion;
}

.background-music {
    background: url('../images/bg-music.jpg') no-repeat center;
    background-color: grey;
    background-blend-mode: difference;
}

.background-countries {
    background: url('../images/bg-countries.jpg') no-repeat center;
    background-color: grey;
    background-blend-mode: difference;
}

#outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#container {
    width: 90%;
}

h1 {
    text-align: center;
    padding-bottom: .5rem;
    color: white;
}

h2.info-page {
    text-align: center;
    padding-bottom: .5rem;
}

.main-container {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 20px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.8);
    padding: 1rem;
}

.how-to-play {
    display: flex;
    justify-content: center;
    align-items: center;

    & h3 {
        padding: 0.2rem 1rem;
    }
}

/* modal */
.modal {
    padding: 1rem;
    max-width: 75vw;
    margin: auto;

    &>* {
        margin: 0 0 0.5rem 0;
    }
}

.modal::backdrop {
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 25%, rgba(9, 65, 121, 0.9122023809523809) 90%, rgba(0, 212, 255, 1) 125%);
    opacity: .7;
}


.difficulty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.difficulty h3,
.theme h3 {
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.diff-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
    text-align: center;
    width: 100%;
}

/* to be targeted with JS when user clicks*/
.selected-btn-diff,
.selected-btn-theme {
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 60%, rgba(9, 65, 121, 0.9122023809523809) 95%, rgba(0, 212, 255, 1) 150%);
    transform: scale(1.1);
    transition: transform 200ms;
    box-shadow: 0 0 1px 1px;
}

.theme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.theme-buttons {
    display: grid;
    gap: .5rem;
    width: 100%;
    text-align: center;
}

.btn {
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 25%, rgba(9, 65, 121, 0.9122023809523809) 90%, rgba(0, 212, 255, 1) 125%);
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.03rem;
    color: white;
    border-radius: 10px;
    border: none;
    padding: .8rem;
    margin: .5rem;
    font-family: Chewy;
}

.btn:hover {
    cursor: pointer;
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 60%, rgba(9, 65, 121, 0.9122023809523809) 95%, rgba(0, 212, 255, 1) 150%);
}

#start {
    display: flex;
    justify-content: center;
    padding: 1rem 0;

    & h2 {
        text-transform: uppercase;
        padding: 0.2rem 1.5rem;
    }
}

#start-requirement {
    text-align: center;
}


/* game */
.hide {
    display: none;
}

.flex {
    display: flex;
}

#game-container {
    height: 50vh;
    justify-content: center;
    align-items: center;
}

#top-container,
#bottom-container {
    /* when loaded display should be set to flex */
    justify-content: space-between;
    align-items: center;
    height: 20%;
}

#anagram-container {
    /* when loaded display should be set to flex */
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 60%;
}

#anagram {
    text-transform: uppercase;
    letter-spacing: .5rem;
}

#answer-container {
    width: 80%;
    text-align: center
}

#answer {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .3rem;
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    height: 3rem;
    width: 100%;
    font-weight: 600;
    font-size: 1.5rem;
}

/* Change game background to show that the answer was correct / incorrect */
.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

/* final screen */

#final-container {
    flex-direction: column;
    height: 50vh;
    justify-content: space-evenly;
    align-items: center;
}

/* Media queries */

/* tablet size */
@media screen and (min-width: 750px) {
    #container {
        width: 70%;
    }

    .difficulty {
        flex-direction: row;
    }

    .difficulty h3 {
        width: 40%;
    }

    .diff-buttons {
        width: 60%;
    }

    .theme {
        flex-direction: row;
    }

    .theme h3 {
        width: 40%;
    }

    .theme-buttons {
        width: 60%;
        grid-template-columns: repeat(2, 1fr);
    }

    .modal {
        max-width: 60vw;
    }

    #answer-container {
        width: 70%;
    }
}

/* laptop size */
@media screen and (min-width: 1200px) {
    #container {
        width: 50%;
    }

    .modal {
        max-width: 33vw;
    }
}